.git
.github
.DS_Store

node_modules
**/node_modules
**/.next
**/coverage
**/dist
**/target
**/bin

artifacts
tests/playwright/.auth
tests/playwright/test-results
tests/playwright/playwright-report

*.log
*.tsbuildinfo
